@model KursDB.Models.User_Info

@{
    ViewBag.Title = "Change_Password";
    Layout = "~/Views/Shared/MainMasterPage.cshtml";
}

<center>
<h2>Change Password</h2>

    @if (ViewBag.Error != null)
    {
        {
            <div class="alert alert-danger">
                <text>@ViewBag.Error</text>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            </div>
        }
    }

    @if (ViewBag.OK != null)
    {
        {
            <div class="alert alert-success">
                <text>@ViewBag.OK</text>
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            </div>
        }
    }

    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
    { 
        <div class="form-group">
            <input class="form-control" name="OldPassword" placeholder="Enter old password..." type="password">
        </div>
        
        <div class="form-group">
            <input class="form-control" name="NewPassword" placeholder="Enter new password..." type="password">
        </div>
        
        <div class="form-group">
            <input class="form-control" name="RepeatNewPassword" placeholder="Repeat new password..." type="password">
        </div>

        <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    }
    </center>
